body {
    background-color: rgb(19, 19, 19);
    text-align: center;
    #mainbutton {
        border: none;
        background-color: rgb(224, 224, 224);
        font-family: consolas, sans-serif;
    }
    p {
        color: white;
        font-family: consolas, sans-serif;
    }
    button {
        font-family: consolas, sans-serif;
    }
    #buyButton {
        border: none;
        font-family: consolas, sans-serif;
    }
    #walletAmount {
        font-size: 3vw;
        color: white;
    }
}